<!-- Navbar -->
<nav
	class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<!-- Navbar content... -->
	<div class="container">
		<a class="navbar-brand" href="index.html">Khoud&<span>Het</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span>
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a href="{{ path('app_front') }}" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_front') }}" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_front') }}" class="nav-link">Inventory</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_front') }}" class="nav-link">Exchange</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_event_index') }}" class="nav-link">Events</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_front') }}" class="nav-link">Profile</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_front') }}" class="nav-link">Contact</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
