<div class="row justify-content-center">
	<div class="col-md-8 col-lg-6">
		{{ form_start(form) }}

		<div>
			{{ form_label(form.title) }}
			{{ form_errors(form.title) }}
			{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'title'}}) }}
		</div>

		<div>
			{{ form_label(form.description) }}
			{{ form_errors(form.description) }}
			{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'description'}}) }}
		</div>


		{{ form_label(form.add_date,'Creation date') }}
		{{ form_errors(form.add_date) }}
		{{ form_widget(form.add_date, {'attr': {'class': 'form-control', 'placeholder': 'add_date', 'id': 'add-date-picker'}}) }}


		<div class="row justify-content-center mt-3">
			<div class="col-md-8 col-lg-6">
				<button class="btn btn-primary w-100" id="my-custom-button-id">{{ button_label|default('Submit') }}</button>
			</div>
		</div>
		{{ form_end(form) }}
