{% extends 'Front.html.twig' %}

{% block title %}Edit Inventory
{% endblock %}

{% block body %}
	<header class="bg-dark position-relative overflow-hidden" style="height: 100px;">
		<div class="container h-100">
			<div
				class="d-flex h-100 align-items-center justify-content-center"><!-- You can add any content you want here, such as a logo or site title -->
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				{{ include('inventory/_form.html.twig', {'button_label': 'Update'}) }}
				<a href="{{ path('app_inventory_index') }}" class="btn btn-secondary">Back to List</a>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5>Preview</h5>
					</div>
					<div class="card-body">
						<table class="table table-borderless">
							<tbody>
								<tr>
									<th>Title</th>
									<td>{{ inventory.title }}</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>{{ inventory.description }}</td>
								</tr>
								<tr>
									<th>Add Date</th>
									<td>{{ inventory.addDate ? inventory.addDate|date('d-m-Y ') : '' }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
