{% extends 'Front.html.twig' %}

{% block title %}
	Inventory Index
{% endblock %}

{% block body %}

	<header class="bg-dark position-relative overflow-hidden" style="height: 100px;">
		<div class="container h-100">
			<div
				class="d-flex h-100 align-items-center justify-content-center"><!-- You can add any content you want here, such as a logo or site title -->

			</div>
		</div>
	</header>

	<div class="container mt-5">
		<div class="row">
			<div
				class="col-md-12">
				{# Search Form #}
				{{ form_start(form, {'attr': {'class': 'form-inline mb-3'}}) }}
				{{ form_row(form.query, {'attr': {'class': 'form-control mr-sm-2', 'placeholder': 'Search'}}) }}
				<button type="submit" class="btn btn-primary">Search</button>
				{{ form_end(form) }}

				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>Title</th>
								<th>Description</th>
								<th>Created At</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% for inventory in inventories %}
								<tr class="animate__animated animate__fadeInUp">
									<td class="text-center">{{ inventory.title }}</td>
									<td class="text-center">{{ inventory.description }}</td>
									<td class="text-center">{{ inventory.addDate | date('d-m-Y') }}</td>
									<td class="text-center">
										<div class="btn-group" role="group">
											<a href="{{ path('app_items_new') }}" class="btn btn-sm btn-outline-secondary mr-2">Add Items to this inventory</a>
											<a href="{{ path('app_inventory_show', {'id': inventory.id}) }}" class="btn btn-sm btn-outline-primary mr-2">Show</a>
											<a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}" class="btn btn-sm btn-outline-secondary mr-2">Edit</a>
											<form method="post" action="{{ path('app_inventory_delete', {'id': inventory.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
												<button class="btn btn-sm btn-outline-danger">Delete</button>
											</form>
										</div>
									</td>
								</tr>
							{% else %}
								<tr class="animate__animated animate__fadeInUp">
									<td colspan="5" class="text-center">No records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="text-center">
					<a href="{{ path('app_inventory_new') }}" class="btn btn-primary animate__animated animate__fadeInUp">Create New Inventory</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
