{% extends 'Front.html.twig' %}

{% block title %}
	Inventory Details
{% endblock %}

{% block body %}
	<header class="bg-dark position-relative overflow-hidden" style="height: 100px;">
		<div class="container h-100">
			<div
				class="d-flex h-100 align-items-center justify-content-center"><!-- You can add any content you want here, such as a logo or site title -->
			</div>
		</div>
	</header>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header bg-dark text-light">
						<h5 class="mb-0">Inventory Details</h5>
					</div>
					<div class="card-body">
						<dl class="row">
							<dt class="col-sm-3">Title:</dt>
							<dd class="col-sm-9">{{ inventory.title }}</dd>

							<dt class="col-sm-3">Description:</dt>
							<dd class="col-sm-9">{{ inventory.description }}</dd>

							<dt class="col-sm-3">Add Date:</dt>
							<dd class="col-sm-9">{{ inventory.addDate ? inventory.addDate|date('d-m-Y') : '' }}</dd>
						</dl>
					</div>
					<div class="card-footer">
						<a href="{{ path('app_inventory_index') }}" class="btn btn-secondary">Back to List</a>
						<a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}" class="btn btn-secondary">Edit</a>
						{{ include('inventory/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>

		{% if inventory.items is not  empty %}
			<div class="row justify-content-center mt-4">
				<div class="col-md-8">
					<h5>Associated Items ({{ inventory.items|length }}):</h5>
					<ul class="list-group">
						{% for item in inventory.items %}
							<li class="list-group-item">Name:
								{{ item.name }}
								-
																																                                Déscription:{{ item.description }}</li>
							{# Add more item details as needed #}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
