{% extends 'Back.html.twig' %}

{% block title %}Echange index{% endblock %}

{% block body %}
    <h1>Echange index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_id</th>
                <th>Inventory_id</th>
                <th>Etat</th>
                <th>Offre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for echange in echanges %}
            <tr>
                <td>{{ echange.id }}</td>
                <td>{{ echange.userId }}</td>
                <td>{{ echange.inventoryId }}</td>
                <td>{{ echange.etat }}</td>
                <td>{{ echange.offre }}</td>
                <td>
                    <a href="{{ path('app_echange_back_show', {'id': echange.id}) }}">show</a>
                    <a href="{{ path('app_echange_back_edit', {'id': echange.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_echange_back_new') }}">Create new</a>
{% endblock %}
