{% extends 'front.html.twig' %}

{% block title %}Edit Commnet{% endblock %}

{% block body %}
  <div class="container-fluid bg-dark">
        <div class="hero-wrap ftco-degree-bg" style="background-image: url('{{ asset('assetsfront/images/bg_1.jpg') }}');" data-stellar-background-ratio="0.5"></div>
	<!-- About section -->
	<section class="ftco-section ftco-about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ asset('assets/images/about.jpg') }}'); min-height: 10px;"></div>

				<div class="col-md-6">
					<div class="heading-section pl-md-5">
					
						<h2 class="mb-4">Modifier un commentaire</h2>
						
					</div>
				</div>
			</div>
		</div>
	</section>

    {{ include('commnet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commnet_index') }}">retourner aux liste</a>

    {{ include('commnet/_delete_form.html.twig') }}
{% endblock %}
