<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>khoudh&het</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Include your CSS files here -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
		<link
		rel="stylesheet" href="{{ asset('assets/css/open-iconic-bootstrap.min.css') }}">
		<!-- Other CSS links... -->
		<link rel="stylesheet" href="{{ asset('assetsfront/css/animate.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/aos.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/ionicons.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/bootstrap-datepicker.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/jquery.timepicker.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/flaticon.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/icomoon.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assetsfront/css/style.css') }}">
	</head>
	<body>
		<!-- Navbar -->

		{% include "_partials/_nav.html.twig" %}
		<!-- Hero section -->
		{% block body %}{% endblock %}

		{% include "_partials/_footer.html.twig" %}

		<script src="{{ asset('assetsfront/js/jquery.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery-migrate-3.0.1.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/popper.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery.easing.1.3.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery.waypoints.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery.stellar.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/aos.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery.animateNumber.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ asset('assetsfront/js/jquery.timepicker.min.js') }}"></script>
		<script src="{{ asset('assetsfront/js/scrollax.min.js') }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="{{ asset('assetsfront/js/google-map.js') }}"></script>
		<script src="{{ asset('assetsfront/js/main.js') }}"></script>
	</body>
</html>
