<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.name, 'Name') }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter item name'}}) }}
				{{ form_errors(form.name) }}
			</div>
			<div class="form-group">
				{{ form_label(form.description, 'Description') }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter item description'}}) }}
				{{ form_errors(form.description) }}
			</div>
			<div class="form-group">
				{{ form_label(form.ref, 'Reference') }}
				{{ form_widget(form.ref, {'attr': {'class': 'form-control', 'placeholder': 'Enter item reference'}}) }}
				{{ form_errors(form.ref) }}
			</div>
			<div class="form-group">
				{{ form_label(form.part_condition, 'Part Condition') }}
				{{ form_widget(form.part_condition, {'attr': {'class': 'form-control', 'placeholder': 'Enter part condition'}}) }}
				{{ form_errors(form.part_condition) }}
			</div>
			<div class="form-group">
				{{ form_label(form.quantity, 'Quantity') }}
				{{ form_widget(form.quantity, {'attr': {'class': 'form-control', 'placeholder': 'Enter quantity'}}) }}
				{{ form_errors(form.quantity) }}
			</div>
			<div class="form-group">
				{{ form_label(form.photos, 'Photos') }}
				{{ form_widget(form.photos, {'attr': {'class': 'form-control-file','placeholder':'upload photos'}}) }}
				{{ form_errors(form.photos) }}
			</div>
			<div class="form-group">
				{{ form_label(form.Inventory, 'Inventory') }}
				{{ form_widget(form.Inventory, {'attr': {'class': 'form-control','placeholder': 'Chose Inventory'}}) }}
				{{ form_errors(form.Inventory) }}
			</div>
			<button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>
