{% extends 'Front.html.twig' %}
{% block title %}
	{{ 'index'|trans }}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ asset('assetsfront/css/style.css') }}">
{% endblock %}
{% block body %}
	<header class="bg-dark position-relative overflow-hidden" style="height: 100px;">
		<div class="container h-100">
			<div class="d-flex h-100 align-items-center justify-content-center"><!-- You can add any content you want here, such as a logo or site title --></div>
		</div>
	</header>
	<div class="container mt-5">
		<div class="row mb-4">
			<div class="col-md-4">
				<a href="{{ path('app_items_new') }}" class="btn btn-success">{{ 'Create New Item'|trans }}</a>
			</div>
		</div>
		{# Add a search input #}
		<input name="searchTerm" type="text" id="searchInput" placeholder="Search...">
		<div id="searchResults"></div>
		<div class="container mt-5">
			{% if items|length > 0 %}
				{% set inventories = {} %}
				{% for item in items %}
					{% set inventoryTitle = item.inventory.title %}
					{% if not inventories[inventoryTitle] is defined %}
						{% set inventories = inventories|merge({(inventoryTitle): []}) %}
					{% endif %}
					{% set inventoryItems = inventories[inventoryTitle]|merge([item]) %}
					{% set inventories = inventories|merge({(inventoryTitle): inventoryItems}) %}
				{% endfor %}
				{% for inventoryTitle, inventoryItems in inventories %}
					<h2>{{ inventoryTitle }}</h2>
					<div class="row">
						{% for item in inventoryItems %}
							<div class="col-md-4 mb-4 item-card" data-name="{{ item.name }}" data-description="{{ item.description }}" data-reference="{{ item.ref }}" data-condition="{{ item.partCondition }}">
								<div class="card">
									<img src="{{ asset('uploads/images/' ~ item.photos) }}" style="width: 100%; height: 100%;" alt="Item Photo" class="img-fluid">
									<div class="card-body">
										<h5 class="card-title">Name:
											{{ item.name }}</h5>
										<p class="card-text">Description:
											{{ item.description }}</p>
										<p class="card-text">Reference:
											{{ item.ref }}</p>
										<p class="card-text">State:
											{{ item.partCondition }}</p>
										<a href="{{ path('app_items_show', {'id': item.id}) }}" class="btn btn-primary">Show</a>
										<form method="post" action="{{ path('app_items_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
											<button class="btn btn-danger mt-2">Delete</button>
										</form>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			{% else %}
				<div class="col-md-12">
					<p>{{ 'No items found.'|trans }}</p>
				</div>
			{% endif %}
		</div>
	</div>
	<!-- Pagination -->
	<div class="pagination-container">
		<div class="pagination">
			<a href="{{ path('app_items_index', {'page': 1}) }}">First</a>
			-
			<a href="{{ path('app_items_index', {'page': max(1, currentPage-1)}) }}">Previous</a>
			Page
			{{ currentPage }}
			of
			{{ maxPages }}
			<a href="{{ path('app_items_index', {'page': min(maxPages, currentPage+1)}) }}">Next</a>
			-
			<a href="{{ path('app_items_index', {'page': maxPages}) }}">Last</a>
		</div>
	</div>
	<script src="{{ asset('assetsfront/js/search.js') }}"></script>
	<script>
		const searchInput = document.getElementById('searchInput');
searchInput.addEventListener('input', filterItems);

function filterItems() {
const searchTerm = searchInput.value.toLowerCase();
const itemCards = document.querySelectorAll('.item-card');

for (let i = 0; i < itemCards.length; i++) {
const itemName = itemCards[i].dataset.name.toLowerCase();
const itemDescription = itemCards[i].dataset.description.toLowerCase();
const itemReference = itemCards[i].dataset.reference.toLowerCase();
const itemCondition = itemCards[i].dataset.condition.toLowerCase();

if (itemName.includes(searchTerm) || itemDescription.includes(searchTerm) || itemReference.includes(searchTerm) || itemCondition.includes(searchTerm)) {
itemCards[i].style.display = 'block';
} else {
itemCards[i].style.display = 'none';
}
}
}
	</script>
	<script src="{{ asset('assetsfront/js/search.js') }}"></script>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
