{% extends 'Front.html.twig' %}

{% block title %}
	Item Details
{% endblock %}

{% block body %}
	<header class="bg-dark position-relative overflow-hidden" style="height: 100px;">
		<div class="container h-100">
			<div
				class="d-flex h-100 align-items-center justify-content-center"><!-- You can add any content you want here, such as a logo or site title -->
			</div>
		</div>
	</header>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">

					<div class="card-body">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th style="width: 30%;">Name</th>
									<td>{{ item.name }}</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>{{ item.description }}</td>
								</tr>
								<tr>
									<th>Reference</th>
									<td>{{ item.ref }}</td>
								</tr>
								<tr>
									<th>Part Condition</th>
									<td>{{ item.partCondition }}</td>
								</tr>
								<tr>
									<th>Image</th>
									<td>
										{% dump(item.photos) %}

										<img src="{{ asset('uploads/images/' ~ item.photos) }}" style="width: 200px; height: 200px;" alt="Item Photo" class="img-fluid">

									</td>
								</tr>
								<tr>
									<th>Quantity</th>
									<td>{{ item.quantity }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer">
						<a href="{{ path('app_items_index') }}" class="btn btn-secondary">Back to List</a>
						<a href="{{ path('app_items_edit', {'id': item.id}) }}" class="btn btn-primary">Edit</a>
						{{ include('items/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
