<div class="row justify-content-center bg-dark">
	<div class="col-md-8 col-lg-6">
	<hr><hr><hr>
		{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}


	


        <div>
			{{ form_label(form.etat) }}
			{{ form_errors(form.etat) }}
			{{ form_widget(form.etat, {'attr': {'class': 'form-control', 'placeholder': 'etat'}}) }}
		</div>
		
        <div>
			{{ form_label(form.offre) }}
			{{ form_errors(form.offre) }}
			{{ form_widget(form.offre, {'attr': {'class': 'form-control', 'placeholder': 'offre'}}) }}
		</div>

		 <div>
			{{ form_label(form.image) }}
			{{ form_errors(form.image) }}
			{{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'image'}}) }}
		</div>

		<div class="row justify-content-center mt-3">
			<div class="col-md-8 col-lg-6">
				<button class="btn btn-primary w-100" id="my-custom-button-id">{{ button_label|default('Submit') }}</button>
			</div>
		</div>
		{{ form_end(form) }}
		<hr><hr><hr>
</div>
</div>