{% extends 'Back.html.twig' %}

{% block title %}
	{{ ' index'|trans}}
{% endblock %}

{% block body %}


	<div class="container mt-5">

		<div class="container mt-5">
			{% if items|length > 0 %}
				{% set inventories = {} %}
				{% for item in items %}
					{% set inventoryTitle = item.inventory.title %}
					{% if not inventories[inventoryTitle] is defined %}
						{% set inventories = inventories|merge({(inventoryTitle): []}) %}
					{% endif %}
					{% set inventoryItems = inventories[inventoryTitle]|merge([item]) %}
					{% set inventories = inventories|merge({(inventoryTitle): inventoryItems}) %}
				{% endfor %}

				{% for inventoryTitle, inventoryItems in inventories %}
					<h2>{{ inventoryTitle }}</h2>
					<div class="row">
						{% for item in inventoryItems %}
							<div class="col-md-4 mb-4">
								<div class="card">
									{% dump(item.photos) %}

									<img src="{{ asset('uploads/images/' ~ item.photos) }}" style="width: 100%; height: 100%;" alt="Item Photo" class="img-fluid">
									<div class="card-body">
										<h5 class="card-title">Name:
											{{ item.name }}</h5>
										<p class="card-text">Description:
											{{ item.description }}</p>
										<p class="card-text">Reference:
											{{ item.ref }}</p>
										<p class="card-text">Condition:
											{{ item.partCondition }}</p>
										<p class="card-text">Quantity:
											{{ item.quantity }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			{% else %}
				<div class="col-md-12">
					<p>{{ 'No items found.'|trans }}</p>
				</div>
			{% endif %}
		</div>

	{% endblock %}
	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		{{ parent() }}
		<script>
			const searchInput = document.getElementById('search-input');
const searchResults = document.getElementById('search-results');

searchInput.addEventListener('input', function () {
const query = this.value;

fetch('/items/search?query=' + encodeURIComponent(query)).then(response => response.json()).then(data => {
searchResults.innerHTML = '';

data.items.forEach(item => {
const itemElement = document.createElement('div');
itemElement.textContent = item.name;
searchResults.appendChild(itemElement);
});
}).catch(error => {
console.error('Error:', error);
});
});
		</script>
	{% endblock %}
